<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24198633798-2clfmqpkefdglu7cgddh8jtil10k2lln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24198633798-2clfmqpkefdglu7cgddh8jtil10k2lln</string>
	<key>API_KEY</key>
	<string>AIzaSyCEkb9ISWBgoe3yNGLA0_wdy51kB1cLAo8</string>
	<key>GCM_SENDER_ID</key>
	<string>24198633798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireAuthCore</string>
	<key>PROJECT_ID</key>
	<string>mitchkoko-2c679</string>
	<key>STORAGE_BUCKET</key>
	<string>mitchkoko-2c679.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24198633798:ios:ff15215908ec3b5001ed47</string>
</dict>
</plist>